In [17]:
import pandas
import time
string = """                 0     1     2     3     4    5
Trajectory                                     
trajectory-A1  0.0  0.00  0.00  0.10  0.50  0.5
trajectory-B1  0.0  0.10  0.15  0.03  0.00  0.0
trajectory-A2  0.0  0.00  0.00  0.06  0.35  0.4
trajectory-A3  0.0  0.00  0.00  0.00  0.45  0.5
trajectory-B2  0.0  0.07  0.10  0.02  0.01  0.0"""

In [8]:
from io import StringIO

result = pandas.read_fwf(StringIO(string))
result

      Unnamed: 0    0     1     2     3     4    5
0     Trajectory  NaN   NaN   NaN   NaN   NaN  NaN
1  trajectory-A1  0.0  0.00  0.00  0.10  0.50  0.5
2  trajectory-B1  0.0  0.10  0.15  0.03  0.00  0.0
3  trajectory-A2  0.0  0.00  0.00  0.06  0.35  0.4
4  trajectory-A3  0.0  0.00  0.00  0.00  0.45  0.5
5  trajectory-B2  0.0  0.07  0.10  0.02  0.01  0.0

In [21]:
series = pandas.Series([0, 0.1, 0.3, 0.4])
_iter = 50000

In [28]:
start = time.time()
for i in range(_iter):
    result = series * (1 + series)
print(time.time() - start)
print(result)
start = time.time()
for i in range(_iter):
    result = series.mul(series.add(1))
print(time.time() - start)
print(result)

12.271937370300293
0    0.00
1    0.09
2    0.21
3    0.24
dtype: float64
9.918301820755005
0    0.00
1    0.09
2    0.21
3    0.24
dtype: float64

9.037444